:host {
  display: block;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

* {
  transition: all 0.2s ease-in-out;
}

/* Mobile menu overlay */
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-btn {
  @apply text-xs py-3 rounded-lg w-full flex items-center gap-4 px-4 capitalize text-white hover:bg-white/10 active:bg-white/30;
}

.menu-btn--active {
  @apply bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-md;
}
